.header { 
    display: grid; 
    grid-template-columns: 1fr 148px 1fr; 
    justify-content: space-between; 
    align-items: center; 
    margin: 92px 24px; 
    padding-right: 25.48px; 
    padding-left: 26.52px; 
    color: #000; 
    font-weight: 400; 
    font-size: 18px; 
    letter-spacing: 0.01em; 
} 

.header__links-list { 
    display: flex; 
    flex-direction: row; 
    column-gap: 31.5px; 
    list-style: circle; 
} 

.header__links-list-item {
    line-height: 21.13px; 
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: inline-block;
    min-height: 105px;
    padding: 0px 6px;
}

.header__logo-image {
    height: 100%;
}

.address {
    max-width: 240.5px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0;
}

.header__address {
    justify-self: end;
}

.address-link {
    letter-spacing: 0.01em;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;

}

.cover {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: 51% 0%;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cover__title {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 165px 50px 136px;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    word-spacing: 6px;
}

.aligned-text {
    line-height: 115px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 50px 0 78px;
    color: #fff;
    text-transform: uppercase;
}

.cover__description-text {
    z-index: 1;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18.5px;
}

.bet-button {
    z-index: 1;
    flex: none;
    width: 256px;
    height: 51px;
    border: 1px solid currentColor;
    padding: 0;
    color: inherit;
    font: inherit;
    font-weight: 500;
    font-size: 22px;
    line-height: 25.83px;
    text-transform: inherit;
    background-color: transparent;
}

.lots {
    margin: 179px 24px 146px;
}

.lots__heading {
    padding: 0 0 27px 40px;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    color: #fff;
    list-style: none;
}

.lots__card-list-item {
    position: relative;
    flex-grow: 1;
    width: 334px;
    min-height: 563px;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 51px 40px 48px;

}

.card__title {
    z-index: 1;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
    text-transform: uppercase;
}

.card__text {
    z-index: 1;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.lots__look-more-link {
    display: inline-block;
    margin: 31px 0 0 40px;
    border-bottom: 1px solid currentColor;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
    text-decoration: none;
}

.about {
    padding: 0 24px;
}

.about__column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: column;
    grid-template-areas:
        "logo title"
        ". text";
    gap: 8px 12px;
}

.about__title {
    grid-area: title;
    padding-top: 136px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

.about__logo {
    grid-area: logo;
    width: 240px;
    height: 240px;
    margin: 35px 47px 0;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    background-image: url(../images/logo-white.svg);
    background-repeat: no-repeat;
    background-position: 50% 51%;
    background-size: 148px 114px;
}

.about__text {
    display: flex;
    flex-direction: column;
    grid-area: text;
    gap: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 181px 50px 88px;
    color: #000;
    font-weight: 400;
    font-size: 18px;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link {
    text-underline-offset: 3px;
}

.footer__menu-link_active {
    text-decoration: none;
    text-decoration-skip-ink: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: end;
    gap: 48px;
    min-width: 240px;
    list-style: none;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}

.footer__social-link {
    display: block;
    height: 100%;
}